---
Language: Cpp
BasedOnStyle: LLVM
AlignConsecutiveAssignments: Consecutive
ColumnLimit: 100
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: false
  AfterClass: true
  AfterStruct: true
---

